langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-mistralai
langchain-huggingface

chromadb

mistralai

sentence-transformers
transformers
torch
accelerate

pypdf
python-dotenv

tiktoken
numpy
pandas

fastapi
uvicorn

requests